.card {
    height: 251px;
    background-color: white;
    border-radius: 20px;

    margin-top: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-menu {
    position: absolute;
    top: 250px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: $color-bg-gray;
}

.restaurant__card__img img {
    border-radius: 20px 20px 0 0;
    max-height: 193px;
    width: 100%;
    object-fit: cover;
}
