.reservation {
    background: $color-bg-gray;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        padding: 15px 0;
        text-align: center;
    }

    &__text {
        text-align: center;
        font-weight: 300;
        padding-bottom: 15px;
    }
}
