.restaurant {
    background: $color-bg-gray;
    padding: 30px 15px;
    &__group {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 25px;
        row-gap: 25px;

        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .restaurant__card__description_global {
        padding-left: 10px;
    }
    .restaurant__card__description__favorites {
        i {
            position: absolute;
            right: 15px;
            bottom: 15px;
            &.heart-full {
                opacity: 0;
                &:hover {
                    transition: 0.5s;
                    opacity: 1;
                    background-image: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
}
