.restaurant {
    background: $color-bg-gray;
    padding: 30px 15px;
    .restaurant__card__description_global {
        padding-left: 10px;
    }
    .restaurant__card__description__favorites {
        i {
            position: absolute;
            right: 15px;
            bottom: 20px;
            &.heart-full {
                opacity: 0;
                &:hover {
                    opacity: 1;
                    background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
}
