// Paramètres generaux du site

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;

* {
    margin: 0;
    font-family: $main-font;
}

.main-container {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
}
