* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  body {
    align-items: center;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
}

.rounded {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

@media screen and (min-width: 800px) {
  .search__select__filter {
    display: flex;
    justify-content: space-evenly;
  }
  .search__select {
    width: 100%;
  }
}
.btn {
  height: 50px;
  width: 186px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.btn-new {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.card {
  height: 251px;
  max-width: 490px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant__card__img img {
  border-radius: 20px 20px 0 0;
  max-height: 193px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
}
header .header__logo {
  position: relative;
  padding: 15px;
}
header .header__logo h1 {
  height: 48px;
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
}
header .header__logo i {
  position: absolute;
  top: 25px;
}
header .header__location {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  background: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.reservation {
  background: #f7f7f7;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__title {
  padding: 15px 0;
  text-align: center;
}
.reservation__text {
  text-align: center;
  font-weight: 300;
  padding-bottom: 15px;
}

.search {
  padding: 15px;
}
.search__select {
  background: #f7f7f7;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 15px 0;
  margin: 10px 20px;
}
.search__select__number {
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.search__select__fa1, .search__select__fa2 {
  color: #7e7e7e;
  padding-left: 30px;
}
.search__select__fa3 {
  color: #9356dc;
  padding-left: 30px;
}

.restaurant {
  background: #f7f7f7;
  padding: 30px 15px;
}
.restaurant__group {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
}
@media screen and (min-width: 800px) {
  .restaurant__group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurant .restaurant__card__description_global {
  padding-left: 10px;
}

footer {
  background: #353535;
  padding: 15px;
}
@media screen and (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }
}
footer a {
  color: white;
}
footer .footer__logo h2 {
  padding-bottom: 15px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: white;
}
footer .footer__navbar {
  color: white;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 800px) {
  footer .footer__navbar__link {
    display: flex;
    gap: 15px;
  }
}
footer .footer__navbar__link .fa-solid {
  width: 11px;
  height: 13px;
  padding-right: 15px;
}

.presentation img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  position: relative;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__menu {
  margin-top: -50px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  border-radius: 20px 20px 0 0;
  background: #f7f7f7;
}
@media screen and (min-width: 800px) {
  .card__menu {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card__menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
@media screen and (min-width: 800px) {
  .card__menu__title {
    justify-content: center;
  }
}
.card__menu__title__restaurant h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
.card__menu__title__favorites {
  position: relative;
}
.card__menu__title__favorites i {
  position: absolute;
  right: 10px;
  top: -35px;
}
.card__menu__title__favorites i.heart-full {
  opacity: 0;
}
.card__menu__title__favorites i.heart-full:hover {
  transition: 0.5s;
  opacity: 1;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

@media screen and (min-width: 800px) {
  .stick {
    left: 50%;
    top: 15px;
  }
}
.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 800px) {
  .submenu {
    min-width: 600px;
  }
}
.submenu__title {
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 5px;
  position: relative;
}
.submenu__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 28px;
}
.menuItem__confirmation {
  background-color: #99e2d0;
  width: 60px;
  margin: -15px -75px -15px -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -15px;
}
.menuItem__wrapIcon {
  height: 20px;
  width: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem__icon {
  color: #99e2d0;
}

.command__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: spinner 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner__item {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.spinner__itemContainer {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.spinner__item-1 {
  background-color: #9356dc;
}
.spinner__item-2 {
  background-color: #ff79da;
  animation-delay: 0.25s;
}
.spinner__item-3 {
  background-color: #99e2d0;
  animation-delay: 0.5s;
}

@keyframes spinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=index.css.map */